caption {
    border: .1px solid black;
    border-bottom-color: darkgrey;
    text-transform: uppercase;
}

td, tr {
    padding: 0.2em .8em;
}

th {
    background-color: red;
    color: white;
    padding: 0.2em .8em;
}

table {
    border-collapse: collapse;
    border: .1px solid black;
    border-top-color: darkgrey;
    font-family: Arial, Verdana, sans-serif;
}

tr:nth-child(even) {background-color: rgb(240, 240, 240)}
th:nth-child(1) {border-right: 1px solid black}
th:nth-child(1) {text-transform: uppercase}
td:nth-child(1) {border-right: 1px solid black}
td:nth-child(1) {font-weight: bold}