body {
    font-family: fantasy;
    margin-left: 3em;
}
figure#floating {
    float: left;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-width: 2px;
    padding: 0em;
}

p {
    padding: 1em;
    margin:  1em;
    margin-bottom: 1em;
}

table {
    text-align: left;
    border: 1px solid black;
}

tr:nth-child(even) {background-color: rgb(240, 240, 240)}

th {
    border: 0px;
    border-bottom: 1px solid black;
}

td:nth-child(3) {text-align: center}
