body {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
}

img {
    width: 30%;
    height: auto;
    border: 1px solid lightblue;
    border-width: 3px;
    padding: 0em;
}

figure {
    margin: 0em;
    padding: 0em;
    padding-bottom: 1em;
}

figcaption {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 4em;
}

h1 {
    font-size: 200px;
    font-style: normal;
    margin: 0em;
}

p {
    font-size: 30px;
    font-style: italic;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin:  7em;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pd {
    font-style: italic;
}

p::first-line {
    font-style: normal;
    font-size: 60px;
}

p.one {
    background-color: rgb(200, 200, 255);
}

p.two {
    background-color: rgb(255, 230, 201);
}

p.three {
    background-color: rgb(255, 200, 200)
}