body {
    font-family: Arial, Verdana, sans-serif;
}

p {
    color: blue;
}

p:nth-of-type(odd) { text-decoration: underline }

h1.alert {
    font-size: 3em;
}

.alert {
    color: red;
}

p#unique {
    font-size: 0.8em;
}
