body {
    font-family: Arial, Verdana, sans-serif;
    background-color: lightblue;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}

h1 {
    font-size: 4.0em;
}

ul, ol {
    text-indent: 10%;
    color: darkgrey;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

.sample {
    font-family: "Monaco", "Courier New", "Lucida Console", monospace;
    font-size: 0.8em;
    background-color: rgb(240, 240, 240);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    margin-left: 10%;
}

.copyright_notice {
    font-size: 0.8em;
}

figure {
    font-size: 0.6em;
    font-weight: bold;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}
