body {
    background-color: rgb(216, 255, 228);
    font-family: "Monaco", "Courier New", "Lucida Console", monospace;
    margin: 2em;
}

h1 {
    font-style: italic;
    font-weight: bolder;
}

legend {
    font-weight: bold;
    text-decoration: underline;
}

fieldset {
    padding: 1em;
}

div {
    padding: .2em;
}