<head>
<body>
    <link href="css/boxassignment.css" type="text/css" rel="stylesheet" />
    
<h1>Berries</h1>

<figure><img src="img/berries.png" alt="Berries"/></figure>
<figcaption>Image: Scott Bauer, USDA ARS, <span class="pd">public domain</span></figcaption>

<p class="one">Blueberry</br>
Vaccinium corumbosum</p>
<p class="two">Cloudberry</br>
Rubus chamaemorus</p>
<p class="three">Lingonberry</br>
Vaccinium vitis idaea</p>

</body>
</head>
